# Ignore node_modules directory
node_modules/

# Ignore build output directories
build/
coverage/
target/
__mocks__/

# Ignore IDE-related files
.idea/
.vscode/

# Ignore Maven wrapper files
.mvn/

# Ignore Babel configuration cache
.babelrc
jest.config.cjs
__tests__/

# Ignore package lock files
package-lock.json



# Ignore OS and editor-specific files
.DS_Store
Thumbs.db
*.log

